.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -2px white;
}

details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

span {
  font-size: 20px;
  font-weight: bold;
  color: chocolate;
}

.check {
  font-size: 20px;
  font-weight: bold;
  color: greenyellow;
}
.uncheck {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 10px;
  font-size: 18px;
}

.editInput {
  width: 400px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 2px solid burlywood;
  box-shadow: 0px 0px 5px 1px burlywood;
  margin-bottom: 10px;
}

.editCheckbox {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.cancel,
.save {
  border-radius: 10px;
  border: 2px solid burlywood;
  padding: 6px 12px;
  background-color: transparent;
  box-shadow: 0px 0px 5px 1px burlywood;
  cursor: pointer;
  transition: all 0.2s;
  width: 100px;
}

.save {
  margin-top: 5px;
  margin-bottom: 5px;
}

.cancel:hover {
  background-color: red;
  color: burlywood;
}

.save:hover {
  background-color: green;
  color: burlywood;
}

.btn {
  border-radius: 10px;
  border: 2px solid burlywood;
  padding: 10px 10px;
  background-color: transparent;
  box-shadow: 0px 0px 5px 1px burlywood;
  cursor: pointer;
  transition: all 0.2s;
  margin-right: 5px;
  color: burlywood;
}

.btn:hover {
  background-color: burlywood;
  color: #282c34;
}
